streamlit
openai
autogen-agentchat
autogen-ext[openai]
ag2[gemini]
ag2[openai]
beautifulsoup4
wordcloud
matplotlib
streamlit-aggrid
google-generativeai
python-dotenv
reportlab
PyMuPDF
pdf2image

fitz 
pandas 
pillow